.user-container{
    padding: 25px;
    background-color:black;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}

#user-img{
    height: 50%;
    border-radius: 50%;
}